<h4>Leave a comment</h4>
<%= form_for [@article, @comment ], url: blog_article_comments_path(@article) do |f| %>
  <%= f.text_field :author_name,
        class: 'span5',
        placeholder: 'Name' %>
  <%= f.text_field :body,
        class: 'span7',
        placeholder: 'Message' %>
  <div class ='clear' />
  <%= button_tag "Clear form", type: :reset, class: 'btn dark_btn' %>
  <%= f.submit 'Post Comment' %>
  <div class='clear' />
<% end %>
